.root {
  outline: 1px dashed green;

  display: flex;
  position: relative;

  /* hide chart tooltip while shrinking window. otherwise tooltip stays in place
     and horizontal scroll bar appears. */
  overflow: hidden;
}

.period-selector {
  position: absolute;
  z-index: 1;
  
  top: 1rem;
  left: 1rem;
}

.count {
  position: absolute;
  top: 3rem;
}

.list {
  overflow-y: auto;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
