.root {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 19rem;
  max-width: 19rem;

  padding: 0.3em;
  border-radius: 0.125em;

  border-width: 1px;
  border-style: solid;
}

.title {
  color: #fff;
  text-transform: lowercase;
}

.value-container {
  text-align: right;
  font-size: 1.9rem;
}

.value {
  color: #fff;
}

.unit {
  color: #fff;
  margin-left: 0.7em;
  font-size: 0.9rem;
  width: 2.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
