.root {
  padding: 1em;
}

.connect {
  margin-bottom: 1.25em;
  cursor: pointer;
  fill: #0a3b8c;
}

.connect.disabled {
  cursor: default;
  fill: #808080;
}

.upload {
  margin-top: 1.25em;
  cursor: pointer;
  fill: #0a3b8c;
}

.upload.disabled {
  cursor: default;
  fill: #808080;
}

.field {
  margin-bottom: 1.7em;

  display: flex;
  justify-content: center;
}

.field > .title,
.field > .value {
  flex: 1;
  max-width: 18.75rem;
  min-width: 6.25rem;
}

.field > .value {
  flex: 1;
}
