.root {
  padding: 15px;
}

.field {
  margin-bottom: 25px;

  display: flex;
  justify-content: center;
}

.field > .title {
  flex: 1;
  padding-left: 20px;
  max-width: 300px;
  min-width: 100px;
}

.field > .value {
  flex: 1;

  max-width: 300px;
  min-width: 100px;

  padding: 3px 5px;
}
