.root {
  outline: 1px dashed red;

  display: grid;
  height: 100%;

  grid-template-columns: 1fr minmax(12rem, 56rem) 1fr;
  grid-template-rows: auto auto minmax(23rem, 1fr) auto;
  grid-gap: 1rem;
  grid-template-areas:
    '. header .'
    '. readings .'
    'chart chart chart'
    '. footer .';
}

.root.modal-opened {
  overflow: hidden;
}

.header {
  grid-area: header;
}

.readings {
  grid-area: readings;
}

.chart {
  grid-area: chart;
}

.footer {
  grid-area: footer;
}
